@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@500;700;800&display=swap');

/*Generales*/
*{
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: white;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    overflow-x: hidden;
}
h1{
    font-size: 3.2rem;
    font-weight: 800;
    color: #C2222D;
}
h2{
    font-size: 2.4rem;
    font-weight: 700;
}
h3{
    font-size: 1.6rem;
    font-weight: 500;
}
strong{
    font-weight: 700;
}
button{
    border: none;
    box-shadow:7px 7px 15px rgba(0, 0, 0, 0.5);
}
.seccion{
    width: 100%;
    height: 100vh;
    padding: 0 5% 0 5%;
}



/*MAIN*/
/*Encabezado*/
.encabezado{
    width: 100;
    height: 90px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px 0 100px;
    border-bottom: 2px solid white;
}
.encabezado img{
    height: 55px;
}
#fijo{
    background-color: #34353A;
    width: 100%;
    min-height: 90px;
    position: fixed;
    top: 0;
    z-index: 100;
    transition: all .4s ease;
    margin-top: -95px;
}
#movil{
    background-color: #34353A;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
}
#movil svg{
    width: 40px;
}
#movil svg:hover{
    cursor: pointer;
}
#desplegable{
    background-color: #34353A;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 15px 0 15px 0;
    width: 30%;
    height: 200px;
    position: fixed;
    top: 90px;
    right: -30%;
    transition: all .4s ease;
    z-index: 1000;
}
#desplegable a{
    text-decoration: none;
    
}
.menu{
    width: 550px;
    display: flex;
    justify-content: space-between;
}
.menu a{
    text-decoration: none;
}

/*Portada*/

.main .banner-principal{
    width: 100%;
    position: relative;
    height: 100vh;
}
#portada{
    /*background-image: url(img/fondo.png);*/
    width: 100%;
    min-height: 490px;
    /*background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-position-y: top;*/
    padding: 0;

}
#portada .contenedor{
    width: 100%;
    min-width: 320px;
    height: 80%;
    padding: 0 5% 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    overflow: hidden;
}
#portada .contenedor img{
    width: 210px ;
}

/*Sobre mí*/
#sobreMi{
    background: #34353A;
    display: flex;
    flex-direction: row;
    height: 600px;
}
#sobreMi .contenedorImg{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-right: 5%;
}
#sobreMi .contenedorImg img{
    width: 85%;
    max-width: 415px;
}
#sobreMi .contenedor{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#sobreMi .contenedor .contenido{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0 30px;
}
#sobreMi .contenedor .contenido .titulo{
    height: 50px;
    margin-bottom: 15px;
}
#sobreMi .contenedor .contenido .infoPersonal{
    padding: 0.5rem 2rem 0.5rem 2rem;
    border: 2px solid #C2222D;
    align-items: center;
}
#sobreMi .contenedor .contenido .infoPersonal .contenedorImg2 img{
    display: none;
}
#sobreMi .contenedor .contenido .infoPersonal strong{
    margin-right: 5px;
}
#sobreMi .contenedor .contenido .infoPersonal .infoPersonalTexto{
    height: fit-content;
}
#sobreMi .contenedor .contenido .infoPersonal .infoPersonalTexto .info{
    display: flex;
    margin: 15px 0 15px 0;
}
#sobreMi .contenedor .contenido a{
    width: 150px;
    height: 40px;
    left: 20px;
    top: 20px;
    font-size: 0.75rem;
    background: #C2222D;
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    box-shadow:7px 7px 15px rgba(0, 0, 0, 0.5);
}
#sobreMi .contenedor .contenido a:hover{
    background: #a0222a;
}

/*Servicios*/
#servicios{
    background: #44454B;
    height: fit-content;
    padding: 30px 5% 30px 5%;
}
#servicios .contenedor{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}
#servicios .contenedor svg{
    align-self: center;
}
#servicios .contenedor .servicios{
    width:100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 0 0 0;
}
#servicios .contenedor .servicios .servicio{
    width: 375px;
    height: 200px;
    margin: 10px;
    background: #34353A;
    border-radius: 20px;
    box-shadow:7px 7px 15px rgba(0, 0, 0, 0.5);
    padding: 20px 35px 20px 35px;
    text-align: start;
}
#servicios .contenedor .servicios .servicio .contenido{
    display: flex;
    align-items: center;
    margin: 10px 0 10px 0;
}
#servicios .contenedor .servicios .servicio .contenido .iconos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35px;
}
#servicios .contenedor .servicios .servicio .contenido .iconos img{
    width: 35px;
}
#servicios .contenedor .servicios .servicio .contenido .iconos .achicar{
    width: 28px;
}
#servicios .contenedor .servicios .servicio .contenido .nombres{
    line-height: 35px;
}
#servicios .contenedor .servicios .servicio .contenido .nombres .achicar{
    line-height: 28px;
}

/*Portafolio*/
#portafolio{
    background: #34353A;
    height: fit-content;
    padding: 40px 5% 30px 5%;
}
#portafolio .contenedor{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}
#portafolio .contenedor svg{
    align-self: center;
}
#portafolio .contenedor .navPortafolio{
    width: 410px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin: 30px 0 10px 0;
}
#portafolio .contenedor .proyectos{
    width:100%;
    height: fit-content;
    display: flex ;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 0 0 0;

}
#portafolio .contenedor .proyectos .proyecto{
    width: 375px;
    height: 200px;
    margin: 10px;
    background: #44454B;
    border-radius: 20px;
    
}

/*Contáctame*/
#contactame{
    background: #44454B;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    padding: 30px 0 30px 0;
    text-align: center;
}
#contactame img{
    width: 50px;
}
#contactame .titulo p{
    color: #C2222D;
    font-size: 1.2rem;
}
#contactame .contactos{
    width: 800px;
    margin: 30px 0 30px 0;
    display: flex;
    justify-content: space-around;
}
#contactame .contactos .celular,#contactame .contactos .correo{
    width: 300px;
}
#contactame .redes{
    width: 800px;
    margin: 30px 0 30px 0;
    display: flex;
    justify-content: space-around;
}
#contactame .redes .linkedin, #contactame .redes .github{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 300px;
}
#contactame .redes .linkedin img, #contactame .redes .github img{
    margin: 5px;
}
footer{
    height: 150px;
    background: #34353A;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}



/*Media querys*/
@media screen and (max-width:950px) {

    /*Navegación*/
    #normal, #fijo{
        display: none;
    }
    .encabezado{
        padding: 0 5% 0 5%;
    }
    #movil{
        display: flex;
    }
    #desplegable{
        display: flex;
    }


    /*Sobre Mi*/
    #sobreMi{
        justify-content: center;
        height: fit-content;
    }
    #sobreMi .contenedorImg{
        display: none;
    }
    #sobreMi .contenedor{
        width: 90%;
        justify-content: center;
        text-align: center;
    }
    #sobreMi .contenedor .contenido{
        align-content: center;
        align-items: center;
    }
    #sobreMi .contenedor .contenido .titulo{
        margin-bottom: 30px;
    }
    #sobreMi .contenedor .contenido .infoPersonal{
        display: flex;
        justify-content: space-between;
        height: 250px;
        width: 550px;
        margin: 50px 0 30px 0;
        padding-bottom: 0;
        padding-top: 0;
    }
    #sobreMi .contenedor .contenido .infoPersonal .contenedorImg2{
        height: 100%;
        width: 200px;
        position: relative;
    }
    #sobreMi .contenedor .contenido .infoPersonal .contenedorImg2 img{
        display: flex;
        width: 200px;
        position: absolute;
        bottom: 0;
    }
    #sobreMi .contenedor .contenido .infoPersonal .contenedorImg2 .infoPersonalTexto{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

    }
    #sobreMi .contenedor .contenido .infoPersonal .infoPersonalTexto{
        margin: 20px 0 20px 0;
    }
    #sobreMi .contenedor .contenido .infoPersonal .infoPersonalTexto .info{
        flex-direction: column;
        text-align: start;
        justify-content: flex-start;
        margin: 0;
        height: 100%;
        
    }




}

